<p-panel header="Formations" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div>
        <h3>2020 : POE Java Jee </h3>
        <h4> Ecole : Aston </h4>
        <p> Programme : <br>

        </p>
    </div>
    <hr>
    <div>
        <h3>2019 : XXX - Afpa </h3>
        <h4> Ecole : Afpa </h4>
        <p> Programme : <br>

        </p>
    </div>
    <hr>
    <div>
        <h3>2010 : BTS Informatique et Réseau pour l'Industrie et les Services technique (IRIS) </h3>
        <h4> Ecole : Lycée Gustave Eiffel </h4>
        <p> Programme : <br>

        </p>
    </div>
    <hr>
    <div>
        <h3>2008 : BAC STI Génie Electroque </h3>
        <h4> Ecole : Lycée Gustave Eiffel </h4>
    </div>
    <hr>
    <div>
        <h3>2006 : BEP Electronique </h3>
        <h4> Ecole : Lycée Gustave Eiffel </h4>
    </div>
</p-panel>